<%
# ===========================================================================
# Copyright (C) 2009, Progress Software Corporation and/or its 
# subsidiaries or affiliates.  All rights reserved.
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ===========================================================================
-%>
<div id="featured_projects" class="two_column section" style="height:400px;">
  <div class="interior">
    <h2>Featured Projects</h2>
    <p>Drag a project to <strong>Unfeatured Projects</strong> to unfeature it.</p>
    <div class="scrollable_div">
      <% @featured_projects.each do |featured_project| %>
      <div id="featured_project_<%= featured_project.id -%>" style="float:left;text-align:center;margin:10px;cursor:move;">
        <%= image_tag(featured_project.project.image.url(:thumb)) %>
        <br />
        <%= h(featured_project.project.name) %>  
      </div>  
      <%= draggable_element("featured_project_#{featured_project.id}", :revert => false) %>
      <% end %>
    </div>
  </div>
</div>
<%= drop_receiving_element("featured_projects", :url => { :action => "create" }) %>
