-# ===========================================================================
-# Copyright (C) 2009, Progress Software Corporation and/or its 
-# subsidiaries or affiliates.  All rights reserved.
-#
-# Licensed under the Apache License, Version 2.0 (the "License");
-# you may not use this file except in compliance with the License.
-# You may obtain a copy of the License at
-#
-#  http://www.apache.org/licenses/LICENSE-2.0
-#
-# Unless required by applicable law or agreed to in writing, software
-# distributed under the License is distributed on an "AS IS" BASIS,
-# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
-# See the License for the specific language governing permissions and
-# limitations under the License.
-# ===========================================================================
- content_for(:bread_crumbs) do
  = link_to 'Forge', root_path
  >
  = link_to 'Projects', projects_path
  >
  = link_to @project.name, @project
  >
  = link_to 'Mailing Lists', project_mailing_lists_path(:project_id => @project)  
  >
  = link_to 'Edit', edit_project_mailing_list_path(:project_id => @project, :id => @project_mailing_list)

#overview
  .wrapper
    .message
      %h2&= "List #{@project_mailing_list.name} for #{@project.name}"
      
#section 
  .wrapper
    - form_for( [@project, @project_mailing_list] ) do |f|
      = render :partial => 'form', :object => f
      = f.submit "Update"
    .bottom_links
      = link_to 'Show', project_mailing_list_path(:project_id => @project, :id => @project_mailing_list)
      |
      = link_to 'Back', project_mailing_lists_path(:project_id => @project)
