-# ===========================================================================
-# Copyright (C) 2009, Progress Software Corporation and/or its 
-# subsidiaries or affiliates.  All rights reserved.
-#
-# Licensed under the Apache License, Version 2.0 (the "License");
-# you may not use this file except in compliance with the License.
-# You may obtain a copy of the License at
-#
-#  http://www.apache.org/licenses/LICENSE-2.0
-#
-# Unless required by applicable law or agreed to in writing, software
-# distributed under the License is distributed on an "AS IS" BASIS,
-# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
-# See the License for the specific language governing permissions and
-# limitations under the License.
-# ===========================================================================
- content_for(:bread_crumbs) do
  = link_to 'Forge', root_path
  >
  = link_to 'Projects', projects_path
  >
  = link_to @project.name, @project
  >
  = link_to 'Mailing Lists', project_mailing_lists_path(:project_id => @project)  

#overview
  .wrapper
    .message
      %h2== #{h @project.name} Mailing Lists
      
#mailing-lists 
  .wrapper
    - @project_mailing_lists.each do |ml|
      %h3== #{ml.name} list
      .admin
        - allow :exec => proc { @current_user.is_project_administrator_for?(@project) } do
          = link_to 'Edit', edit_project_mailing_list_path(:project_id => @project, :id => ml)
        - allow :exec => proc { @current_user.is_site_admin? } do
          = link_to 'Remove', project_mailing_list_path(:project_id => @project, :id => ml),  :confirm => 'Are you sure?', :method => :delete
      .details
        - if ml.use_internal?
          %p 
            Is a Forge managed mailing list.
            - unless ml.internal_replyto.blank?
              == The reply-to is set to #{ml.internal_replyto}
        - else
          %p Is an external mailing list.
        
        %table
          %tr
            %th To post an email: 
            %td= mail_to ml.post_address
          %tr
            %th To subscribe: 
            %td= mail_to ml.subscribe_address
          %tr
            %th To unsubscribe: 
            %td= mail_to ml.unsubscribe_address

    - allow :exec => proc { @current_user.is_project_administrator_for?(@project) } do
      %h3 Mailing Lists Password Reset
      - form_tag( reset_admin_password_project_mailing_lists_path(@project) ) do
        %table.fieldset
          %tr
            %th.label
              = label_tag 'password'
            %td.field
              = password_field_tag :password, nil, :class => 'textbox'
            %td
              = submit_tag "Reset"
            %td.help
              The new mailing lists password will be emailed to all project admins.
        
        

    .bottom_links
      - allow :exec => proc { @current_user.is_site_admin? } do
        = link_to 'New Mailing List', new_project_mailing_list_path(:project_id => @project)
