- content_for(:bread_crumbs) do
  = link_to 'Forge', root_path
  >
  = link_to 'Projects', projects_path
  >
  = link_to @project.name, @project
  >
  = link_to 'Manage', project_administration_path(@project)
  >
  = link_to 'Mailing Lists', project_mailing_lists_path(:project_id => @project)
  >
  = link_to 'New', new_project_mailing_list_path(:project_id => @project)
  
#overview
  .wrapper
    .message
      %h2&= "New List for #{@project.name}"
      
#section 
  .wrapper
    - form_for( [@project, @project_mailing_list] ) do |f|
      = render :partial => 'form', :object => f
      = f.submit "Create"
