#menu
  .wrapper
    .left
      = link_to 'Forge', root_path
      >
      = link_to 'Projects', projects_path
      >
      = link_to @project.name, @project
      >
      = link_to 'Admin', project_administration_path(@project)
      >
      = link_to 'Mailing Lists', project_mailing_lists_path(:project_id => @project)
      >
      = link_to @project_mailing_list.name, edit_project_mailing_list_path(:project_id => @project, :id => @project_mailing_list)
      
    .right
      - allow :user => :is_site_admin? do
        = link_to 'Admin-Forge', admin_path
        |
      = link_to 'Search', projects_path(:show_search_form => true)

#overview
  .wrapper
    .message
      %h2&= "List #{@project_mailing_list.name} for #{@project.name}"
      
#section 
  .wrapper
    - if @project_mailing_list.use_internal?
      %p Is a Forge managed mailing list.
      - unless @project_mailing_list.internal_replyto.blank?
        %p== The list sets the reply-to the #{@project_mailing_list.internal_replyto} mailing list
    - else
      %p Is an external mailing list.
    %p== Post address is: #{@project_mailing_list.post_address}
    %p== Subscribe address is: #{@project_mailing_list.subscribe_address}
    %p== Unsubscribe address is: #{@project_mailing_list.unsubscribe_address}

    .bottom_links
      - allow :exec => proc { @current_user.is_project_administrator_for?(@project) } do
        = link_to 'Edit', edit_project_mailing_list_path(:project_id => @project, :id => @project_mailing_list)
