#overview
  .wrapper
    .message
      %h1 Welcome to FUSE Forge!
      %p== Focus on your application, not on software development infrastructure.  The FUSE Forge is an open environment for the creation of integration projects and is designed to help you make the most out of FUSE technology.  
      %p== More questions? View our #{link_to 'FAQ', 'http://fusesource.com/resources/faqs/'}.  Want to create a project or become a committer?  View the #{link_to 'contributor agreement', icla_path}
      
#project-section
  .wrapper
    - unless @my_projects.empty?
      .message
        %h2
          My Projects
      = render(:partial => 'projects/project_list', :locals=>{ :projects => @my_projects })
      
    .message
      %h2
        Featured Projects
    = render(:partial => 'projects/project_list', :locals=>{ :projects => @featured_projects })
    
    .bottom_links
      = link_to 'More Projects...', projects_path

