<div class="wrapper">
  <div class="one_column section">
    <div class="interior">
      <h2>Welcome</h2>
  	  <p>
  		  FUSE Forge is the new developer center for hosting extensions to <%= link_to 'FUSE', 'http://fusesource.com' -%>,
  		  the leading open source ESB and integration platform.
	    </p>
	    <p>
		    Projects hosted on FUSEForge automatically have an integrated forum, wiki, source code repository, and issue tracker.  
		    Contributing to FUSEForge offers many great benefits to the FUSE community.
	    </p>
    </div>
  </div>
  <div class="one_column section">
    <div class="interior">
      <h2>Featured Projects</h2>
      <% @featured_projects.each do |project| %>
      <div style="float:left;text-align:center;margin:10px;">
        <%= link_to(image_tag(project.image.url(:thumb)), project_path(project)) %>
        <br />
        <%= link_to h(project.name), project_path(project) %>  
      </div>  
      <% end %>
    </div>
  </div>
  <div class="two_column section">
    <div class="interior">
      <h2>My Projects</h2>
      <ul>
        <% @my_projects.each do |project| %>
        <li><%= link_to h(project.name), project_path(project) -%></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="two_column section">
    <div class="interior">
      <h2>New Projects</h2>
      <ul>
        <% Project.public.approved.recent.each do |project| %>
        <li><%= link_to h(project.name), project_path(project) -%></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="two_column section">
    <div class="interior">
      <h2>FUSEForge News</h2>
      <ul>
        <% @fuseforge_news_items.each do |i| %>
        <li><%= link_to h(i.homepage_title), 
                 i.is_a?(NewsItem) ? news_item_path(i) : project_project_news_item_path(:project_id => i.project, :id => i) -%></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="two_column section">
    <div class="interior">
      <h2>FUSESource News</h2>
      <ul>
        <% @fusesource_news_items.each do |i| %>
        <li><%= link_to h(i.title), i.link_to_source, :popup => true -%></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="two_column section">
    <div class="interior">
      <h2>Most Active</h2>
      <table>
        <thead>
          <tr>
            <th>Activity</th>
            <th>Project</th>
          </tr>
        </thead>
        <tbody>
          <% @most_active_projects_this_week.each do |i| %>
          <tr>
            <td><%= i.repository.activity_this_week -%></td>
            <td><%= i.name -%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="two_column section">
    <div class="interior">
      <h2>Top Downloads</h2>
    	<table>
    	  <thead>
    	    <tr>
    	      <th>Downloads</th>
    	      <th>Project</th>
    	    </tr>
    	  </thead>
    	  <tbody>
    	    <% @top_project_downloads.each do |i| %>
    	    <tr>
    	      <td><%= i.repository.downloads -%></td>
    	      <td><%= i.name -%></td>
    	    </tr>
          <% end %>
    	  </tbody>
    	</table>
  	</div>
  </div>
</div>