-# ===========================================================================
-# Copyright (C) 2009, Progress Software Corporation and/or its 
-# subsidiaries or affiliates.  All rights reserved.
-#
-# Licensed under the Apache License, Version 2.0 (the "License");
-# you may not use this file except in compliance with the License.
-# You may obtain a copy of the License at
-#
-#  http://www.apache.org/licenses/LICENSE-2.0
-#
-# Unless required by applicable law or agreed to in writing, software
-# distributed under the License is distributed on an "AS IS" BASIS,
-# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
-# See the License for the specific language governing permissions and
-# limitations under the License.
-# ===========================================================================
#overview
  .wrapper
    .message
      %h1 Welcome to FUSE Forge!
      %p== Focus on your application, not on software development infrastructure.  The FUSE Forge is an open environment for the creation of integration projects and is designed to help you make the most out of FUSE technology.  
      %p== More questions? View our #{link_to 'FAQ', 'http://fusesource.com/resources/faqs/'}.  Want to create a project or become a committer?  View the #{link_to 'contributor agreement', icla_path}
      
#project-section
  .wrapper
    - unless @my_projects.empty?
      .message
        %h2
          My Projects
      = render(:partial => 'projects/project_list', :locals=>{ :projects => @my_projects })
      
    .message
      %h2
        Featured Projects
    = render(:partial => 'projects/project_list', :locals=>{ :projects => @featured_projects })
    
    .bottom_links
      = link_to 'More Projects...', projects_path

