#menu
  .wrapper
    .left
      = link_to 'Forge', root_path
      \&gt;
    .right
      = link_to 'Projects', projects_path
      |
      = link_to 'Create', new_project_path
      |
      - allow :user => :is_site_admin? do
        = link_to 'Admin-Forge', admin_path
        |
      = link_to 'Search', projects_path(:show_search_form => true)
      
#overview
  .wrapper
    .message
      %h1
        FUSE Forge
      FUSE Forge is the developer center for hosting extensions to
      = link_to 'FUSE', 'http://fusesource.com'
      ,
      the leading open source ESB and integration platform.
      
      
#project-section
  .wrapper
    - unless @my_projects.empty?
      .message
        %h2
          My Projects
      = render(:partial => 'projects/project_list', :locals=>{ :projects => @my_projects })
      
    .message
      %h2
        Featured Projects
    = render(:partial => 'projects/project_list', :locals=>{ :projects => @featured_projects })
