  <div id="menu">
  	<div class="wrapper">
    	<div class="left">
    	  <%= link_to 'Forge', root_path -%> &gt;
    	</div>

    	<div class="right">
        <%= link_to 'Projects', projects_path -%> |
        <%= link_to 'Create', new_project_path -%> |
        <% allow :user => :is_site_admin? do %>
          <%= link_to 'Admin-Forge', admin_path -%> |
        <% end %>
        <%= link_to 'Search', projects_path(:show_search_form => true) -%>
    	</div>
  	</div>
  </div>
  
  <div id="overview">
  	<div class="wrapper">
    	<div class="message">
    	  <h1>FUSE Forge</h1>
        FUSE Forge is the developer center for hosting extensions to <%= link_to 'FUSE', 'http://fusesource.com' -%>,
  		  the leading open source ESB and integration platform.
    	</div>
  	</div>
  </div>

  <div id="project-section">
  	<div class="wrapper">
  	  
  	  <% unless @my_projects.empty? %>
    	  <div class="message">
    	    My Projects
  	    </div>
    	  <div class="list">
        <% @my_projects.each do |project| %>
      	  <div class="project">
      	    <div class="logo"><%= link_to(image_tag(project.image.url(:thumb)), project_path(project)) %></div>
      	    <div class="details">
        	    <div class="category"><%= h(project.category.name) -%></div>
        	    <h1><%= link_to h(project.name), project_path(project) -%></h1>
        	    <p><%= sanitize project.description -%></p>
        	    <%= link_to(image_tag("images/more-about-this-project.jpg"), project_path(project)) %>
      	    </div>
    	    </div>
	      </div>
        <% end %>
      <% end %>

  	  <div class="message">
  	    Featured Projects
	    </div>
  	  <div class="list">
      <% @featured_projects.each do |project| %>
    	  <div class="project">
    	    <div class="logo"><%= link_to(image_tag(project.image.url(:thumb)), project_path(project)) %></div>
    	    <div class="details">
      	    <div class="category"><%=h(project.category.name)-%></div>
      	    <h1><%= link_to h(project.name), project_path(project) -%></h1>
      	    <p><%= sanitize project.description -%></p>
      	    <%= link_to(image_tag("images/more-about-this-project.jpg"), project_path(project)) %>
    	    </div>
  	    </div>
      <% end %>
	    </div>
	    
  	</div>
  </div>
