- content_for(:bread_crumbs) do
  = link_to 'Forge', root_path

#overview
  .wrapper
    .message
      %h2&== Terms of Use
      
#section{:style=>"font-family:Verdana,sans-serif; color:black; font-size: 80%;"} 
  .wrapper      

    %p== Copyright &#169; 2009.  Progress Software Corporation, 14 Oak Park, Bedford, MA 01730.  All rights reserved.
    
    %h2 PLEASE READ THESE TERMS OF USE CAREFULLY.  

    %h3 Acceptance of Terms
    
    %b
      %p== BY USING THIS WEBSITE LOCATED AT #{link_to "FUSESOURCE.COM/FORGE", "http://fusesource.com/forge"} (THIS &#147;WEBSITE&#148;), YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS SET FORTH HEREIN (&#147;TERMS OF USE&#148;) AND ANY GUIDELINES POSTED FROM TIME TO TIME ON THIS WEBSITE AND INCORPORATED BY REFERENCE INTO THESE TERMS OF USE (&#147;GUIDELINES&#148; AND TOGETHER WITH THESE TERMS OF USE, THE &#147;TERMS&#148;).  IF YOU DO NOT ACCEPT ALL OF THE TERMS, THEN DO NOT USE THIS WEBSITE.  
    
      %p PROGRESS SOFTWARE CORPORATION (&#147;PROGRESS&#148;) RESERVES THE RIGHT TO CHANGE, MODIFY, ADD OR REMOVE ANY OF THE TERMS AT ANY TIME WITHOUT NOTICE.  YOUR CONTINUED USE OF THIS WEBSITE AFTER ANY SUCH CHANGE OR MODIFICATION SHALL CONSTITUTE YOUR ACCEPTANCE OF ALL SUCH CHANGES.
    
      %p YOUR PERMISSION TO USE THIS WEBSITE SHALL BE AUTOMATICALLY REVOKED OR TERMINATED IF YOU VIOLATE ANY OF THE TERMS.

    %h3 No Unlawful or Prohibited Use
    
    %p By using this Website, you warrant to Progress that you are of legal age to create binding contractual and financial obligations for any liability that you may incur as a result of your use of this Website.  You also warrant that you will not use this Website, any Content (as defined herein), or any other website owned by Progress, for any purpose that is unlawful or prohibited by these Terms.  If you violate any of the Terms, your permission to use this Website automatically terminates.

    %p Progress reserves the right (but does not undertake the obligation) in its sole discretion to: (a) monitor the Website for violations of the Terms, (b) take appropriate legal action against anyone who, in Progress' sole discretion, violates the Terms, including, without limitation, reporting you to law enforcement authorities; and (c) otherwise manage the Website in a manner designed to protect the rights and property of Progress and others and to facilitate the proper functioning of the Website.
    
    %h3 Registration Obligations

    %p This Website is an online resource for open source software development and content creation.  You may be required to set up a user account or register with Progress to use certain features of this Website.  You agree to provide accurate and complete information about yourself during any such registration, and update such information when necessary to keep it current.  

    %p You are entirely responsible for maintaining the confidentiality of your account information, including your password.  Furthermore, you are entirely responsible for any and all activities that occur under your account.  

    %p Progress may, in its sole discretion, terminate your account or access rights if you have provided inaccurate or incomplete information during registration or your account is inactive for an extended period of time.  Upon the termination of your user account, for any reason, Progress will close your account and you will no longer be able to access that account. 

    %h3 Content

    %p 
      You are solely responsible for any data, text, software, music, sound, photos, graphics, videos, messages, other materials or features (collectively, &#147;Content&#148;) that you post, upload, submit or otherwise provide (&#147;Post&#148;) to the Website or to Progress through the Website.  By Posting Content to the Website, you represent and warrant that:
      %ul
        %li	you own or have sufficient rights to Post the Content on the Website;
        %li	your Content does not contain any viruses, worms, Trojan horses, malicious or other harmful code;
        %li	Your Content is not obscene, lewd, lascivious, excessively violent, harassing, libelous or slanderous, does not violate any applicable law, regulation, or rule, and does not violate the privacy rights, publicity rights, copyrights or other rights of any third party; 


    %p Progress does not claim ownership of the Content you Post on the Website or may provide to Progress (including feedback and suggestions).  However, by Posting your Content on the Website, or otherwise providing Content to Progress, you are granting Progress, its affiliated companies and necessary sublicensees a non-exclusive, royalty-free, irrevocable, perpetual, worldwide license, with sublicense rights, to use, copy, transmit, publish, publicly display, publicly perform, reproduce, adapt, modify, translate, create derivative works from, rent, resell and distribute your Content, in whole or in part, and incorporate your Content in other works.  

    %p Please note that all Content Posted or otherwise provided to Progress through the Website will, to the fullest extent permitted by applicable laws and regulations, be deemed NOT to be confidential.  
    
    %p No compensation will be paid with respect to the use of your Content.  Progress may remove any Content at any time in its sole discretion.  In addition, Progress may, in its sole discretion, mark as "inactive" and archive Projects (defined below) that are inactive for extended periods of time.  You agree that Progress has no responsibility or liability for the deletion or failure to store any Content or other communications maintained or transmitted on this Website.  

    %h3 Installation and Use of Projects
    
    %p Your use of any software, application, module or tool (a &#147;Project&#148;) is governed by the license for the applicable Project.  Please read the license terms carefully before using the Project.
      
    %h3 Privacy Policy

    %p== Please see our Privacy Policy at #{link_to 'progress.com/privacy', 'http://www.progress.com/privacy'} relating to the collection and use of your information.  By using this Website you are consenting to the processing of your data by Progress and our Privacy Policy.
    
    %h3 Trademarks
    
    %p== &#147;Progress Software Trademarks&#148; means all names, marks, brands, logos, designs, trade dress, slogans and other designations Progress Software uses in connection with its products and services. You agree to comply with the Progress Trademark and Logo Usage Requirements located at #{link_to 'http://www.progress.com/progress_software/docs/trademark_usage_policy.pdf', 'http://www.progress.com/progress_software/docs/trademark_usage_policy.pdf'}.  You may not remove or alter any Progress Software Trademarks, or co-brand your own products or material with Progress Software Trademarks, without Progress' prior written consent.  You acknowledge Progress' rights in Progress Software Trademarks and agree that any use of Progress Software Trademarks by you shall inure to Progress' sole benefit.  You agree not to incorporate any Progress Software Trademarks into your trademarks, service marks, company names, Internet addresses, domain names, or any other similar designations, for use on or in connection with computer or Internet-related products, services or technologies.

    %p== For a recent list of Progress Software Trademarks, go to #{link_to 'http://www.progress.com/trademarks/index.ssp', 'http://www.progress.com/trademarks/index.ssp'}.  All other trademarks that may appear herein are the property of their respective owners.
    
    %h3 Links to Third Party Web Sites

    %p Links to third party web sites on this Website are provided solely as a convenience to you.  When you use these links, you leave this Website.  Progress has not reviewed all of these third party web sites, does not control, and is not responsible for, any of these web sites, their content or privacy practices.  Progress does not endorse or make any representations about the third party web sites, or any information, services, or products found on these web sites.  If you decide to access any of these third party web sites, you access such web sites at you own risk.
    
    %h3 Disclaimer of Warranties
    
    %p The Website is a community-maintained web site.  Progress is not responsible for its content.  

    %p By operating the Website, Progress does not represent or imply that it endorses any Content or any other materials or items available on or linked to the Website, including without limitation content hosted on third party web sites, or that Progress believes the Content or any other such materials or items to be accurate, useful or non-harmful. 

    %p Progress does not guarantee or promise any specific results from use of the Website or any of its Content.  No advice or information, whether oral or written, obtained by you from Progress or the Website shall create any warranty not expressly stated herein. 
    
    %p YOU AGREE THAT YOUR USE OF THE WEBSITE AND ANY CONTENT WILL BE AT YOUR SOLE RISK.
    
    %p THE WEBSITE AND CONTENT ARE PROVIDED "AS IS" AND "AS AVAILABLE", WITHOUT ANY WARRANTY, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NONINFRINGEMENT.  

    %p PROGRESS DOES NOT WARRANT THAT THIS WEBSITE IS SECURE OR WILL OPERATE UNINTERRUPTED OR ERROR-FREE.  SCHEDULED AND PREVENTIVE MAINTENANCE AS WELL AS REQUIRED AND EMERGENCY MAINTENANCE WORK MAY TEMPORARILY INTERRUPT ACCESS TO THE WEBSITE.  PROGRESS DOES NOT ASSUME RESPONSIBILITY FOR DELETION, MIS-DELIVERY, OR FAILURE TO STORE ANY CONTENT OR PERSONALIZATION SETTINGS. 

    %p TO THE FULLEST EXTENT PERMITTED BY LAW, PROGRESS AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, AGENTS, LICENSORS, EMPLOYEES AND REPRESENTATIVES DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE WEBSITE AND YOUR USE THEREOF, THE ACCURACY OR COMPLETENESS OF THE CONTENT AND THE CONTENT OF ANY WEB SITE LINKED TO THIS WEBSITE, AND ASSUME NO LIABILITY OR RESPONSIBILITY FOR ANY (A) ERRORS, MISTAKES OR INACCURACIES OF CONTENT, (B) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE WEBSITE, (C) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE WEBSITE, (E) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH THE WEBSITE BY ANY THIRD PARTY, AND/OR (F) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE WEBSITE. 

    %p PROGRESS RESERVES THE RIGHT TO CHANGE ITS WARRANTY POLICY SET FORTH HEREIN, AT ANY TIME, WITHOUT NOTICE AND WITHOUT LIABILITY TO YOU OR ANY OTHER PERSON.

    %h3 Limitation of Liability

    %p IN NO EVENT WILL PROGRESS BE LIABLE TO ANY PARTY FOR ANY DIRECT, INDIRECT, INCIDENTAL, EXEMPLARY, SPECIAL OR CONSEQUENTIAL DAMAGES FOR ANY USE OF THE WEBSITE OR CONTENT, OR ON ANY OTHER WEB SITE LINKED TO THIS WEBSITE, INCLUDING, WITHOUT LIMITATION, ANY LOST PROFITS, BUSINESS INTERRUPTION, LOSS OF PROGRAMS OR OTHER DATA ON YOUR INFORMATION HANDLING SYSTEM OR OTHERWISE, EVEN IF PROGRESS IS EXPRESSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

    %h3 Export Laws

    %p You may not use, export or re-export any Content in violation of U.S. export controls or the trade laws of other countries.

    %h3 Indemnity

    %p You agree to indemnify and hold Progress and its subsidiaries, affiliates, officers, directors, agents, licensors, employees and representatives harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of (1) your use of or connection to the Website or any Content, (2) your violation of the Terms, or (3) your violation of any rights of another. 
    
    %h3 Relationship of the Parties
    
    %p Nothing herein shall be deemed to create an agency, partnership, joint venture, employee-employer or franchisor-franchisee relationship of any kind between you and Progress. 

    %h3 No Third Party Beneficiaries

    %p You agree that there shall be no third party beneficiaries to these Terms. 

    %h3 Notice

    %p== You agree that Progress may provide you with notices, including those regarding changes to the Terms, by email, regular mail, or postings on #{link_to "fusesource.com/forge", "http://fusesource.com/forge"}. 

    %h3 Entire Agreement

    %p The Terms constitute the entire agreement between you and Progress with respect to the subject matter hereof and govern your use of this Website, superseding any prior understandings and agreements between you and Progress related to the subject matter hereof for the use of this Website.  The section headings in the Terms are for convenience only and have no legal or contractual effect. 

    %h3 Jurisdiction and Venue

    %p The Terms are to be governed and construed by the substantive law of the Commonwealth of Massachusetts.  In the event of a dispute arising out of or relating to the Terms, or your use of or access to the Website or Content, litigation must be brought in a state or federal court in the Commonwealth of Massachusetts. 
