<%
# ===========================================================================
# Copyright (C) 2009, Progress Software Corporation and/or its 
# subsidiaries or affiliates.  All rights reserved.
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ===========================================================================
-%>
<% unless @exception.blamed_files.blank? %>
  <pre id="blame_trace"><code><%=h @exception.describe_blame %></code></pre>
<% end %>

<%
  clean_params = request.parameters.clone
  clean_params.delete("action")
  clean_params.delete("controller")
  request_dump = clean_params.empty? ? 'None' : clean_params.inspect.gsub(',', ",\n")
%>

<h2 style="margin-top: 30px">Request</h2>
<p><b>Uri</b>: <pre><%=h request.method()%> <%=h request.request_uri()  %></pre></p>
<p><b>Parameters</b>: <pre><%=h request_dump %></pre></p>
<p><b>Headers</b>: <pre><%=h request.headers.inspect.gsub(',', ",\n") %></pre></p>

<h2 style="margin-top: 30px">Response</h2>
<p><b>Headers</b>: <pre><%=h response ? response.headers.inspect.gsub(',', ",\n") : 'None' %></pre></p>

<h2 style="margin-top: 30px">Session Sump</h2
<div id="session_dump"><%= debug(request.session.instance_variable_get("@data")) %></div>

