- content_for(:bread_crumbs) do
  = link_to 'Forge', root_path
  >
  = link_to 'Projects', projects_path
  >
  = link_to @project.name, @project
  >
  = link_to 'Manage', project_administration_path(@project)
  >
  = link_to 'Tags', :action=>"edit_tags", :id => @project
      
#overview
  .wrapper
    .message
      %h2 
        Tags for
        = h @project.name
#section
  .wrapper
    = render :partial => 'tags_editor'
