<p>
  <b>Name:</b>
  <%=h @project_status.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project_status.description %>
</p>

<p>
  <b>Position:</b>
  <%=h @project_status.position %>
</p>


<%= link_to 'Edit', edit_project_status_path(@project_status) %> |
<%= link_to 'Back', project_statuses_path %>
