<%= form.error_messages %>
<div class="one_column section">    
  <div class="interior">
    <p>
      <%= form.label :Description %><br />
      <%= form.text_field :description, :size => 50 %>
    </p>
    <p>
      <%= form.label :url %><br />
      <%= form.text_field :url, :size => 75 %>
    </p>
  </div>
</div>