<div class="wrapper">
  <h1>Editing Download for <%= h @project.name -%></h1>
  <% form_for( [@project, @download] ) do |f| %>
    <%= render :partial => 'form', :object => f %>
    <div class="form_button">
      <%= f.submit "Update" %>
    </div>
  <% end %>
  <div class="bottom_links">
    <%= link_to 'Show', project_download_path(@project, @download) %> |
    <%= link_to 'Back', project_downloads_path(@project) %>
  </div>
</div>