<div class="wrapper">
  <h1>Downloads for <%= @project.name -%></h1>
  <div class="one_column section">
    <div class="interior">
      <table>
        <tr>
          <th>Description</th>
          <th>URL</th>
        </tr>
  
        <% show_maintenance_links = @current_user.is_project_administrator_for?(@project) %>

        <% @downloads.each do |download| %>
        <tr>
          <td><%=h download.description -%></td>
          <td><%= h download.url -%></td>
          <% if show_maintenance_links %>
          <td><%= link_to 'Edit', edit_project_download_path(@project, download) %></td>
          <td><%= link_to 'Destroy', project_download_path(@project, download), :confirm => 'Are you sure?', :method => :delete -%></td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="bottom_links">
    <% if show_maintenance_links %>
    <%= link_to 'Add download', new_project_download_path(@project) -%> |
    <%= link_to 'Back to Project Administration', project_administration_path(@project) -%>
    <% end %>
    <%= link_to 'Back to project', project_path(@project) %>
  </div>
</div>
