<%
# ===========================================================================
# Copyright (C) 2009, Progress Software Corporation and/or its 
# subsidiaries or affiliates.  All rights reserved.
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ===========================================================================
-%>
<div class="wrapper">
  <h1>Listing News Items for <%= h @project.name -%></h1>
  <div class="one_column section">
    <div class="interior">
      <table>
        <tr>
          <th>Title</th>
          <th>Created by</th>
          <th>Updated by</th>
        </tr>

      <% @project_news_items.each do |project_news_item| %>
        <tr>
          <td><%=h project_news_item.title %></td>
          <td><%=h project_news_item.created_by.full_name %></td>
          <td><%=h project_news_item.updated_by.full_name %></td>
          <td><%= link_to 'Show', project_project_news_item_path(:project_id => @project, :id => project_news_item) -%></td>
          <% allow :exec => proc { @current_user.is_project_administrator_for?(@project) } do %>
          <td><%= link_to 'Edit', edit_project_project_news_item_path(:project_id => @project, :id => project_news_item) -%></td>
          <td><%= link_to 'Destroy', project_project_news_item_path(:project_id => @project, :id => project_news_item), 
                   :confirm => 'Are you sure?', :method => :delete -%></td>
          <% end %>
        </tr>
      <% end %>
      </table>
    </div>  
  </div>
  <div class="bottom_links">
    <% allow :exec => proc { @current_user.is_project_administrator_for?(@project) } do %>
    <%= link_to 'New Project News Item', new_project_project_news_item_path(:project_id => @project) %> |
    <% end %>

    <%= link_to 'Back to Project', project_path(@project) -%> |
    <% allow :exec => proc { @current_user.is_project_administrator_for?(@project) } do %>
    <%= link_to 'Back to Project Administration', project_administration_path(@project) -%>
    <% end %>
  </div>
</div>