<div class="wrapper">
  <h1>News for <%= h @project.name -%></h1>
  <% @project_news_items.each do |project_news_item| %>
  <div class="one_column section">
    <div class="interior">
      <h2><%=h project_news_item.title %></h2>
      <p>
        By <%=h project_news_item.created_by.full_name -%> Published at <%= project_news_item.created_at %>
      </p>  
      <p>
        <%= sanitize project_news_item.contents -%>
      </p>
    </div>  
  </div>
  <% end %>
  <div class="bottom_links">
    <%= link_to 'Back to Project Home', project_path(@project) %>
  </div>
</div>