<%
# ===========================================================================
# Copyright (C) 2009, Progress Software Corporation and/or its 
# subsidiaries or affiliates.  All rights reserved.
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ===========================================================================
-%>
<div class="wrapper">
  <h1>News for <%= h @project.name -%></h1>
  <% @project_news_items.each do |project_news_item| %>
  <div class="one_column section">
    <div class="interior">
      <h2><%=h project_news_item.title %></h2>
      <p>
        By <%=h project_news_item.created_by.full_name -%> Published at <%= project_news_item.created_at %>
      </p>  
      <p>
        <%= sanitize project_news_item.contents -%>
      </p>
    </div>  
  </div>
  <% end %>
  <div class="bottom_links">
    <%= link_to 'Back to Project Home', project_path(@project) %>
  </div>
</div>