<div class="wrapper">
  <h1>New News Item for <%= h @project.name -%></h1>
  <% form_for( [@project, @project_news_item] ) do |f| %>
    <%= f.error_messages %>
    <div class="two_column section">    
      <div class="interior">
        <p>
          <%= f.label :title %><br />
          <%= f.text_field :title %>
        </p>
      </div>
    </div>
    <div class="two_column section">
      <div class="interior">  
        <p>
          <%= f.label :contents %><br />
          <%= f.text_area :contents %>
        </p>
      </div>
    </div>    
    <div class="form_button">
      <%= f.submit "Create" %>
    </div>
  <% end %>
  <div class="bottom_links">
    <%= link_to 'Back', project_project_news_items_path(:project_id => @project) %>
  </div>
</div>