<div class="wrapper">
  <h1>News Item for <%= h @project_news_item.project.name -%></h1>
  <div class="one_column section">
    <div class="interior">
      <h2><%=h @project_news_item.title -%></h2>
      <p>
        <%= sanitize @project_news_item.contents %>
      </p>
      <p>
        <b>Created by:</b>
        <%=h @project_news_item.created_by.full_name %>
        <b>Updated by:</b>
        <%=h @project_news_item.updated_by.full_name %>
      </p>
    </div>  
  </div>
  <div class="bottom_links">
    <% allow :exec => proc { @current_user.is_project_administrator_for?(@project) } do %>
    <%= link_to 'Edit', edit_project_project_news_item_path(:project_id => @project, :id => @project_news_item) %> |
    <% end %>

    <%= link_to 'Back to Project News', project_project_news_items_path(:project_id => @project) %> |
    <%= link_to 'Back to Project Home', project_path(@project) %>

    <% allow :exec => proc { @current_user.is_project_administrator_for?(@project) } do %>
    | <%= link_to 'Back to Project Administration', project_administration_path(@project) %>
    <% end %>
  </div>
</div>