<%
# ===========================================================================
# Copyright (C) 2009, Progress Software Corporation and/or its 
# subsidiaries or affiliates.  All rights reserved.
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ===========================================================================
-%>
<div class="wrapper">
  <h1>Site Administration</h1>
  <div class="one_column section">
    <div class="interior">
      <ul>
      	<li><%= link_to 'Maintain Featured Projects', featured_projects_path -%></li>
      	<li><%= link_to 'Maintain News Items', news_items_path -%></li>
      	<li><%= link_to 'Approve New Projects', unapproved_projects_path -%></li>
      	<li><%= link_to 'Maintain Project Statuses', project_statuses_path -%></li>
      	<li><%= link_to 'Maintain Project Maturities', project_maturities_path -%></li>
      	<li><%= link_to 'Maintain Project Categories', project_categories_path -%></li>
      	<li><%= link_to 'Maintain Project Licenses', project_licenses_path -%></li>
      </ul>	
    </div>
  </div>
  <div class="bottom_links">
    <%= link_to 'Back to Home', root_path %>
  </div>
</div>