<div class="wrapper">
  <h1>Site Administration</h1>
  <div class="one_column section">
    <div class="interior">
      <ul>
      	<li><%= link_to 'Maintain Featured Projects', featured_projects_path -%></li>
      	<li><%= link_to 'Maintain News Items', news_items_path -%></li>
      	<li><%= link_to 'Approve New Projects', unapproved_projects_path -%></li>
      	<li><%= link_to 'Maintain Project Statuses', project_statuses_path -%></li>
      	<li><%= link_to 'Maintain Project Maturities', project_maturities_path -%></li>
      	<li><%= link_to 'Maintain Project Categories', project_categories_path -%></li>
      </ul>	
    </div>
  </div>
  <div class="bottom_links">
    <%= link_to 'Back to Home', root_path %>
  </div>
</div>