<h1>Revisions of <%= h @project.name -%>: <%= h @wiki_page.slug -%></h1>

<table>
  <thead>
    <th>Version</th>
    <th>Date</th>
    <th>Changed By</th>
  </thead>
  <tbody>
    <% @wiki_page_versions.reverse.each do |revision| %>  
    <tr>
      <td>
        <%= link_to revision.version, project_wiki_page_wiki_page_version_path(:project_id => @project, :wiki_page_id => @wiki_page,
             :id => revision.version) -%>
      </td>
      <td>
        <%= revision.updated_at -%>
      </td>
      <td>
        <%= h revision.updated_by.full_name -%>
      </td>
      <td>
        <% if @wiki_page.version == revision.version %>
          ***Current Version***
        <% else %>  
          <%= link_to 'Restore this version', project_wiki_page_wiki_page_version_path(:project_id => @project, 
               :wiki_page_id => @wiki_page, :id => revision.version), :method => :put, :confirm => 'Are you sure?' -%>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Back', project_wiki_page_path(:project_id => @project, :id => @wiki_page) %>
