<%
# ===========================================================================
# Copyright (C) 2009, Progress Software Corporation and/or its 
# subsidiaries or affiliates.  All rights reserved.
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ===========================================================================
-%>
<h1>Listing Project Maturities</h1>

<div id="project_maturities">
  <ul id="sortable_list">
    <% @project_maturities.each do |project_maturity| %>	
    <li id="project_maturity_<%= project_maturity.id %>">
      <%= project_maturity.name -%>
      <%= link_to 'Edit', edit_project_maturity_path(project_maturity) %>
      <%= link_to 'Destroy', project_maturity_path(project_maturity), :confirm => 'Are you sure?', :method => :delete -%>
    </li>  
    <% end %>
  </ul>
</div>

<%= sortable_element('sortable_list', :url => {:action => :update_positions}) %>
<br />
<%= link_to 'New Project Maturity', new_project_maturity_path %>
