<p>
  <b>Name:</b>
  <%=h @project_maturity.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project_maturity.description %>
</p>

<p>
  <b>Position:</b>
  <%=h @project_maturity.position %>
</p>


<%= link_to 'Edit', edit_project_maturity_path(@project_maturity) %> |
<%= link_to 'Back', project_maturities_path %>
