<div id="navigation">
	<div class="wrapper">
		<ul>
			<li class="home"><%= link_to 'Home', root_path -%></li>
      <li><%= link_to 'Projects', projects_path -%></li>
      <li><%= link_to 'Search', projects_path(:show_search_form => true) -%></li>
      <li><%= link_to 'Forums', '/forge/forum/index.php' -%></li>
      <li><%= link_to 'Create', new_project_path -%></li>
      <% allow :user => :is_site_admin? do %>
      <li><%= link_to 'Admin', admin_path -%></li>
      <% end %>
      <li><a href="#">Help</a></li>
		</ul>
	</div>
</div>    
