<div id="wiki-page-filters">
  <h3>Search Filter</h3>
  <% form_for( [@project, @search], :html => { :id => "wiki-page-search" } ) do |f| %>

    <% f.fields_for @search.conditions do |wiki_pages| %>
      <table>
        <tr>
          <td><label>Title:</label></td>
          <td><%= wiki_pages.text_field :slug_contains %></td>
        </tr>
        <tr>  
          <td><label>Contents:</label></td>
          <td><%= wiki_pages.text_field :body_contains %></td>
        </tr>
        <tr>  
          <% wiki_pages.fields_for wiki_pages.object.tags do |tags| %>
          <td><label>Tag:</label></td>
          <td><%= tags.text_field :name_kw_using_or %></td>
          <% end %>      
        </tr>
      </table>    
    <% end %>
    <%= f.submit "Search" %>
    <%= link_to 'Reset', project_wiki_pages_path(@project) -%> 
  <% end %>
</div>