<h1>Wiki Pages for <%= h @project.name -%></h1>

<%= render(:partial => 'search') %>
<%= render(:partial => 'tag_cloud') %>

<div style="clear:both"></div>

<% if @wiki_pages_count.zero? %>
<p>No wiki pages were found.</p>
<% else %>

<ul>
  <% for wiki_page in @wiki_pages %>
  <li><%= link_to h(wiki_page.slug), project_wiki_page_path(:project_id => @project, :id => wiki_page) -%></li>
  <% end %>
</ul>

<p>
  Per page: <%= per_page_select -%>
  Page: <%= page_select -%>
</p>
<% end %>

<br />

<% allow :exec => proc { @current_user.is_project_member_for?(@project) } do %>
<%= link_to 'New wiki_page', new_project_wiki_page_path(:project_id => @project) %> |
<% end %>
<%= link_to 'Project Home Page', project_path(@project) %>
