<%= render :partial => 'js_validation' %>
<div class="wrapper">
  <h1>Editing <%= @project.name -%></h1>
  <% form_for(@project, :html => { :multipart => true, :onsubmit => 'return validate_form()' }) do |f| %>
    <%= render :partial => 'form', :object => f %>
    <div class="form_button">
      <%= f.submit "Update" %>
    </div>
  <% end %>
  <div class="bottom_links">
    <%= link_to 'Show', @project %> |
    <%= link_to 'Back to Project Administration', project_administration_path(@project) %>
  </div>
</div>