- content_for(:bread_crumbs) do
  = link_to 'Forge', root_path
  >
  = link_to 'Projects', projects_path
  >
  = link_to @project.name, @project
    
#overview
  .wrapper
    .message
      %h2 
        = "Editing #{@project.name}"
      
#section
  .wrapper
    = render :partial => 'js_validation'
    - form_for(@project, :html => { :multipart => true, :onsubmit => 'return validate_form()' }) do |f|
      = render :partial => 'form', :object => f
      .form_button
        = f.submit "Update"
    .bottom_links
      = link_to 'Show', @project
      |
      = link_to 'Back to Project Administration', project_administration_path(@project)
