<div class="wrapper">
  <h1>Search Projects</h1>
  <%= render(:partial => 'search') %>
  <%= render(:partial => 'tag_cloud') %>
  <% if @projects_count.zero? %>
  <div id="search_results" class="one_column section">
    <div class="interior">
      <p>No projects were found.</p>
    </div>
  </div>
  <% else %>
  <div id="search_results" class="one_column section">
    <div class="interior">
      <h2>Filtered Projects</h2>
      <table>
        <tr>
          <th></th>
          <th><%= order_by_link :name -%></th>
          <th style='text-align:left;'><%= order_by_link :description -%></th>
        </tr>
        <% for project in @projects %>
        <tr>
          <td><%= image_tag project.image.url(:thumb) %></td>
          <td><%=link_to h(project.name), project %></td>
          <td><%= sanitize(truncate(project.description, 100)) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>  
  <div class="bottom_links">
    Per page: <%= per_page_select -%>
    Page: <%= page_select -%>
  </div>
  <% end %> 
</div> 