#menu
  .wrapper
    .left
      = link_to 'Forge', root_path
      >
      = link_to 'Projects', projects_path
      
    .right
      = link_to 'Projects', projects_path
      |
      = link_to 'Create', new_project_path
      |
      - allow :user => :is_site_admin? do
        = link_to 'Admin-Forge', admin_path
        |
      = link_to 'Search', projects_path(:show_search_form => true)

#overview
  .wrapper
    .message
      %h2 Projects by Category

#project-section
  .wrapper
    - @projects.group_by(&:category).each do |category, projects|
      %h2
        %a{:href=>"#", :onclick=>"Element.toggle('category-#{category.id}')"} 
          = category.name
      -#
      -# We may want to remote load load the contents of this div so that the 
      -# for when there are too many project to load at once in 1 page.
      -#
      %div{:id => "category-#{category.id}", :style=>"display:none;"}
        - projects.sort! { |a,b| a.name.downcase <=> b.name.downcase }
        = render(:partial => 'projects/project_list', :locals=>{ :projects => projects })
