- content_for(:bread_crumbs) do
  = link_to 'Forge', root_path
  >
  = link_to 'Create', new_project_path
  
#overview
  .wrapper
    .message
      %h2 Propose a New Project
      Not all projects make the cut.  Please only submit projects which would make a good fit with the rest of the FUSE community.
#section
  .wrapper
    = render :partial => 'js_validation'
    - form_for(@project, :html => { :multipart => true, :onsubmit => 'return validate_form()' }) do |f|
      = render :partial => 'form', :object => f
      %div{:style=>"padding:20px"} 
        #terms_text.terms_and_conditions{ :onscroll => "check_accept_text_scroll_pos('terms_text', 'project_terms_and_conditions')" }
          %h2 Terms of Use
          = render :partial => 'homepage/raw_terms_of_use'
        = f.check_box :terms_and_conditions
        = f.label :terms_and_conditions, "Accept Terms and Conditions? (You must scroll to the bottom before you can accept the terms)", :style => 'margin-left:10px;'
      .form_button
        = f.submit "Create"
