#menu
  .wrapper
    .left
      = link_to 'Forge', root_path
      \&gt;
      = link_to 'Create', new_project_path
    .right
      = link_to 'Projects', projects_path
      |
      - allow :user => :is_site_admin? do
        = link_to 'Admin-Forge', admin_path
        |
      = link_to 'Search', projects_path(:show_search_form => true)

#overview
  .wrapper
    .message
      %h2 New Project
#section
  .wrapper
    = render :partial => 'js_validation'
    - form_for(@project, :html => { :multipart => true, :onsubmit => 'return validate_form()' }) do |f|
      = render :partial => 'form', :object => f
      %div{:style=>"padding:20px"} 
        #terms_text.terms_and_conditions{ :onscroll => "check_accept_text_scroll_pos('terms_text', 'project_terms_and_conditions')" }
          = @terms_and_conditions_text
        = f.check_box :terms_and_conditions
        = f.label :terms_and_conditions, "Accept Terms and Conditions? (You must scroll to the bottom before you can accept the terms)", :style => 'margin-left:10px;'
      .form_button
        = f.submit "Create"
