<%= render :partial => 'js_validation' %>
<div class="wrapper">
  <h1>New Project</h1>
  <% form_for(@project, :html => { :multipart => true, :onsubmit => 'return validate_form()' }) do |f| %>
    <%= render :partial => 'form', :object => f %>

    <div class="two_column section">
      <div class="interior">
        <h2>Terms and Conditions</h2>
        <p>
          <div class="terms_and_conditions" id="terms_text" 
           onscroll="check_accept_text_scroll_pos('terms_text', 'project_terms_and_conditions')">	
            <%= @terms_and_conditions_text %> 		  
          </div>
  		    <span style="margin-left:10px;">You must scroll to the bottom before you can accept the terms</span>
          <br />
          <%= f.label :terms_and_conditions, "Accept Terms and Conditions?", :style => 'margin-left:10px;' %>
          <%= f.check_box :terms_and_conditions %>
        </p>
      </div>  
    </div>
    <div class="form_button">
      <%= f.submit "Create" %>
    </div>
  <% end %>
  <div class="bottom_links">
    <%= link_to 'Back', root_path %>
  </div>
</div>