  <div id="menu">
  	<div class="wrapper">
    	<div class="left">
    	  <%= link_to 'Forge', root_path -%> &gt;
    	  <%= link_to 'Projects', projects_path -%> &gt;
    	  <%= link_to @project.name, @project -%>
    	</div>

    	<div class="right">
        <% allow :exec => proc { @current_user.is_project_administrator_for?(@project) } do %>
          <%= link_to 'Admin-Project', project_administration_path(@project) %> |
   	    <% end %>
        <% allow :user => :is_site_admin? do %>
          <%= link_to 'Admin-Forge', admin_path -%> |
        <% end %>
        <%= link_to 'Search', projects_path(:show_search_form => true) -%>
    	</div>
  	</div>
  </div>
  
  <div id="overview">
  	<div class="wrapper">
    	<div class="details">
	      <% if @project.is_private? %>
    	  <div><div class="label">Visibility:</div>*** Private ***</div>
	      <% end %>
    	  <div><div class="label">Category:</div><%= h @project.category.name -%></div>
        <div><div class="label">Status:</div><%= h @project.status.name -%></div>
        <div><div class="label">Maturity:</div><%= h @project.maturity.name -%></div>
      	<% unless @project.license.blank? %>
        	<div><div class="label">License:</div>
        	<% if @project.license == ProjectLicense.other %>
        	  <%= link_to(h(@project.license.name), @project.other_license_url, :popup => true) -%>
        	<% else %>    
        	  <%= link_to(h(@project.license.name), @project.license.url, :popup => true) -%>
        	<% end %>
          </div>
        <% end %>
        <div><div class="label">Tags:</div>
        <% @project.tags.each do |tag| %>
          <%= link_to tag.name, projects_path(:tag => tag.name, :show_search_form => true) -%>
        <% end %>
        </div>
    	</div>
    	
    	<div class="logo">
    	  <%= image_tag @project.image.url(:medium) if @project.image.valid? %>
    	</div>
    	<div class="message">
    	  <h1><%= @project.name -%></h1>
        <%= sanitize @project.description %>
    	</div>
  	</div>
  </div>

  <div id="spot">
  	<div class="wrapper">
      <div class="title"></div>
      <div class="content">
    	  <table><tr>
    	    <% if !@project.external_website.blank? -%>
    	    <td>
      	    <h2>Learn More</h2>
      	    <a href="<%= url_for(@project.external_website) %>">
      	      <%= image_tag('spot-learn-more.jpg', :alt => "Learn More") -%>
        	    <br/>
        	    Documentation
      	    </a>
    	    </td>
    	    <td>
      	    <h2>Get Started</h2>  
      	    <a href="<%= url_for(@project.external_website) %>/downloads">
      	      <%= image_tag('spot-download-releases.jpg', :alt => "Download Releases") -%>
        	    <br/>
        	    Get the latest version here
      	    </a>
    	    </td>
    	    <% end -%>
    	    <td>
    	    <h2>Get Involved</h2>  
      	    <div class="spot-balloon">
      	      <ul>
                <%if @project.forum.is_active?%>
              	  <li><%= link_to("Forums", @project.forum.url) -%></li>
                <% end %>
                <% if @project.issue_tracker.is_active? %>
              	  <li><%= link_to("Issue Tracker", @project.issue_tracker.url) -%></li>
                <% end %>
                <%if @project.wiki.is_active? %>
                  <li><%= link_to("Wiki", @project.wiki.url) -%></li>
                <% end %>
                <% if @project.repository.is_active? %>
                  <li><%= link_to("Source Code", @project.repository.url) -%></li>
                <% end %>
                <% if @project.web_dav_location.is_active? %>
                  <li><%= link_to("WebDAV", @project.web_dav_location.url)  -%></li>
                <% end %>      	        
      	      </ul>
      	    </div>
      	    Join the community!
    	    </td>
  	    </tr></table>
      </div>
  	</div>
  </div>

  <div id="news">
  	<div class="wrapper">
  	  <h1>Recent News</h1>
	    <% @project.news_items.recent.each do |i| %>
    	  <div class="post">
    	    <h2><%= link_to truncate(h(i.title), 55), project_project_news_item_path(:project_id => @project, :id => i) -%></h2>
    	    <%= sanitize truncate(i.contents, 800) %>
          <div class="details">Posted by <%= i.created_by.full_name -%> on <%= i.created_at -%></div>
    	  </div>
      <% end %>
  	</div>
  </div>
  
</div>
