<div class="wrapper">
  <h1><%= @project.name -%></h1>
  <div class="one_column section">
    <div class="interior" style="min-height: 100px;">
      <div id="project_picture">
  	    <%= image_tag @project.image.url(:medium) if @project.image_file_name %>
      </div>
    	<div id="project_menu">
        <%= link_to "Web Site", @project.external_url, :popup => true -%>
        <% if logged_in? %>
        | <%= image_tag "admin1.png" %> <%= link_to "Admins", project_project_administrators_path(@project) -%>
        | <%= image_tag "members1.png" %> <%= link_to "Members", project_project_members_path(@project) -%>
        <% end %>
        <%if @project.repository.is_active? %>
        | <%= image_tag "subver1.png" %> <%= link_to("Repository", @project.repository.url, :popup => true) -%>
        <% end %>
        <%if @project.web_dav_location.is_active?%>
        | <%= image_tag "webdav-logo.jpg" %> <%= link_to("WebDAV", @project.web_dav_location.url, :popup => true)  -%>
        <% end %>
        <%if @project.issue_tracker.is_active?%>
        | <%= image_tag "jira.jpeg" %> <%= link_to("Issue Tracker", @project.issue_tracker.url, :popup => true) -%>
        <% end %>
        <%if @project.forum.is_active?%>
        | <%= image_tag "phpBB.jpg" %> <%= link_to("Forum", @project.forum.url, :popup => true) -%>
        <% end %>
        <%if @project.wiki.is_active? %>
        | <%= image_tag "confluence.jpeg" %> <%= link_to("Wiki", @project.wiki.url, :popup => true) -%>
        <% end %>
        <% allow :exec => proc { @current_user.is_project_administrator_for?(@project) } do %>
   	    | <%= image_tag "administration.jpeg" %>
            <%= link_to 'Administration', project_administration_path(@project) %>
   	    <% end %>
      </div>
      <div id="project_attributes">
    	  <% if @project.is_private? %>
    	  <strong>*** Private ***</strong>
    	  <% end %>
      	<strong>Status:</strong> <%= @project.status.name -%>
      	<strong>Maturity:</strong> <%= @project.maturity.name -%>
      	<strong>Category:</strong> <%= @project.category.name -%>
      </div>
    </div>
    <div style="clear:both;"></div>
	</div>
</div>	
<div style="clear:both;"></div>
<div class="wrapper">
	<div class="two_column section">
	  <div class="interior">
      <h2>Description</h2>
      <p><%= sanitize @project.description %></p>
	  </div>
  </div>

  <%= render :partial => 'tags' %>

	<div class="two_column section">
	  <div class="interior">
      <h2>Downloads</h2>
      <% if logged_in? %>
	    <% @project.downloads.each do |download| %>
      <p><%= link_to h(download.description), project_download_requests_path(:project_id => @project, 
              :desc => download.description, :url => download.url), :method => :post -%></p>
      <% end %>
      <% else %>
      <strong>Login to access downloads</strong>
      <% end %>
    </div>    
	</div>
	<div class="two_column section">
	  <div class="interior">
      <h2>Activity</h2>
      <p><strong>Downloads:</strong> <%= @project.download_requests.size -%></p>
      <p><strong>Commits:</strong> <%= @project.repository.commits -%></p>
      <p><strong>Last Commit At:</strong> <%= @project.repository.last_commit_at -%></p>
	  </div>
	</div>  
  <div class="two_column section">
    <div class="interior">
      <h2>Recent News</h2>
      <ul>
	    <% @project.news_items.recent.each do |i| %>
        <li><%= link_to h(i.title), project_project_news_item_path(:project_id => @project, :id => i) -%></li>
      <% end %>
      </ul>
    </div>
  </div>  
  <% if @project.issue_tracker.use_internal? %>
  <div class="two_column section">
    <div class="interior">
      <h2>Recent Issues</h2>
      <ul>
	    <% @project.issue_tracker.recent_issues.each do |i| %>
        <li><%= link_to h(i[:title]), i[:url], :popup => true -%></li>
      <% end %>
      </ul>
    </div>
  </div>  
  <% end %>
  <% if @project.forum.use_internal? %>
  <div class="two_column section">
    <div class="interior">
      <h2>Latest Forum Posts</h2>
      <ul>
	    <% @project.forum.recent_posts.each do |i| %>
        <li><%= link_to h(i.post_subject), i.url, :popup => true -%></li>
      <% end %>
      </ul>
    </div>
  </div>  
  <% end %>

  <% if @project.wiki.use_internal? %>
  <div class="two_column section">
    <div class="interior">
      <h2>Recent Wiki Updates</h2>
      <ul>
	    <% @project.wiki.get_latest_activity.each do |i| %>
        <li><%= link_to h(i[:title]), i[:url], :popup => true -%></li>
      <% end %>
      </ul>
    </div>
  </div>  
  <% end %>
</div>
