-# ===========================================================================
-# Copyright (C) 2009, Progress Software Corporation and/or its 
-# subsidiaries or affiliates.  All rights reserved.
-#
-# Licensed under the Apache License, Version 2.0 (the "License");
-# you may not use this file except in compliance with the License.
-# You may obtain a copy of the License at
-#
-#  http://www.apache.org/licenses/LICENSE-2.0
-#
-# Unless required by applicable law or agreed to in writing, software
-# distributed under the License is distributed on an "AS IS" BASIS,
-# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
-# See the License for the specific language governing permissions and
-# limitations under the License.
-# ===========================================================================
- content_for(:bread_crumbs) do
  = link_to 'Forge', root_path
  >
  = link_to 'Projects', projects_path
  >
  = link_to @project.name, @project
    
#overview
  .wrapper
    .logo
      = image_tag @project.image.url(:medium) if @project.image.valid?
    .message
      %h1
        = @project.name
      = sanitize @project.description
      
    - if !@project.external_website.blank?
    
      %div{:style=>"padding:20px;"}
        For more information, please visit: 
        %div{:style=>"font-size:160%; font-weight:bold;"}
          = link_to("The #{@project.name} Homepage", @project.external_website)
      
.wrapper
  #resources
        
    %h3 Resource Links
    - if @project.forum.is_active?
      %div
        = link_to("Forums", @project.forum.url)
    - unless @project.mailing_lists.empty?
      %div
        = link_to "Mailing Lists", project_mailing_lists_path(@project)
    - if @project.issue_tracker.is_active?
      %div
        = link_to("Issue Tracker", @project.issue_tracker.url)
    - if @project.wiki.is_active?
      %div
        = link_to("Wiki", @project.wiki.url)
    - if @project.repository.is_active? || @project.git_repo.is_active?
      %div
        = link_to 'Source Code', source_project_path(:id => @project)  
    - if @project.web_dav_location.is_active?
      %div
        = link_to("WebDAV", @project.web_dav_location.url)
  #classification
    %h3 Classification
    .details
      - if @project.is_private?
        %div
          .label Visibility:
          *** Private ***
      %div
        .label Category:
        = h @project.category.name
      %div
        .label Status:
        = h @project.status.name
      %div
        .label Maturity:
        = h @project.maturity.name
      - unless @project.license.blank?
        %div
          .label License:
          - if @project.license == ProjectLicense.other
            = link_to(h(@project.license.name), @project.other_license_url, :popup => true)
          - else
            = link_to(h(@project.license.name), @project.license.url, :popup => true)
      %div
        .label Tags:
        - @project.tags.each do |tag|
          = link_to tag.name, projects_path(:tag => tag.name, :show_search_form => true)
          
  - news_items = @project.news_items.recent          
  - if news_items.size > 0
    #news
      %h1 Recent News
      - news_items.each do |i|
        .post
          %h2
            = link_to truncate(h(i.title), 55), project_project_news_item_path(:project_id => @project, :id => i)
          = sanitize truncate(i.contents, 800)
          .details
            Posted by
            = i.created_by.full_name
            on
            = i.created_at
