<h1>Attachments for <%= h @wiki_page.title -%></h1>

<table>
  <thead>
    <tr>
      <th>URL</th>
      <th>Content Type</th>
      <th>Size</th>
      <th>Uploaded At</th>
      <th>Uploaded By</th>
      <th>Track Downloads?</th>
      <th>Include in Project Homepage Download Stats?</th>
    </tr>
  </thead>
  <tbody>  
    <% @wiki_page_attachments.each do |wiki_page_attachment| %>
    <tr>
      <td><%= link_to wiki_page_attachment.attached_file_file_name, wiki_page_attachment.attached_file.url -%></td>
      <td><%= wiki_page_attachment.attached_file_content_type -%></td>
      <td><%= wiki_page_attachment.attached_file_file_size -%></td>
      <td><%= wiki_page_attachment.created_at -%></td>
      <td><%= wiki_page_attachment.created_by.full_name -%></td>
      <td><%= wiki_page_attachment.track_downloads? ? 'Yes' : 'No' -%></td>
      <td><%= wiki_page_attachment.include_in_project_homepage_download_stats? ? 'Yes' : 'No' -%></td>
      <td><%= link_to 'Edit', edit_project_wiki_page_wiki_page_attachment_path(:project_id => @project, :wiki_page_id => @wiki_page,
               :id => wiki_page_attachment) -%></td>
      <td><%= link_to 'Destroy', project_wiki_page_wiki_page_attachment_path(:project_id => @project, :wiki_page_id => @wiki_page,
               :id => wiki_page_attachment), :confirm => 'Are you sure?', :method => :delete -%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<% allow :exec => proc { @current_user.is_project_member_for?(@project) } do %>
<%= link_to 'New Attachment', new_project_wiki_page_wiki_page_attachment_path(:project_id => @project, :wiki_page_id => @wiki_page) %> |
<% end %>

<%= link_to 'Back', project_wiki_page_path(:project_id => @project, :id => @wiki_page) %>