<%= form.error_messages %>
<div class="two_column section">    
  <div class="interior">
    <p>
      <%= form.label :name %><br />
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :description %><br />
      <%= form.text_field :description %>
    </p>
  </div>
</div>  