<%
# ===========================================================================
# Copyright (C) 2009, Progress Software Corporation and/or its 
# subsidiaries or affiliates.  All rights reserved.
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ===========================================================================
-%>
<div class="wrapper">
  <h1>Show Project Category</h1>
  <div class="one_column section">
    <div class="interior">
      <p>
        <b>Name:</b>
        <%=h @project_category.name %>
      </p>
      <p>
        <b>Description:</b>
        <%=h @project_category.description %>
      </p>
      <p>
        <b>Position:</b>
        <%=h @project_category.position %>
      </p>
    </div>
  </div>
  <div class="bottom_links">
    <%= link_to 'Edit', edit_project_category_path(@project_category) %> |
    <%= link_to 'Back', project_categories_path %>
  </div>
</div>