<h1>Editing Prospective Project Member for <%= @project.name -%></h1>

<% form_for(@prospective_project_member) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @prospective_project_member %> |
<%= link_to 'Back', prospective_project_members_path %>
