<div class="wrapper">
  <h1>Member Group for <%= h @project.name -%></h1>
  <div class="two_column section">
    <div class="interior">
      <h2>Group Info</h2>
      <p>
        <b>Name:</b>
        <%=h @project_member_group.name %>
      </p>
      <p>
        <b>Created by:</b>
        <%=h @project_member_group.created_by.full_name %>
      </p>
      <p>
        <b>Updated by:</b>
        <%=h @project_member_group.updated_by.full_name %>
      </p>
    </div>  
  </div>
  <div class="two_column section">
    <div class="interior">
      <h2>Users in this Group</h2>
      <table>
        <tr>
          <th>Login Name</th>
        </tr>

      <% @project_member_group.user_names.sort.each do |name| %>
        <tr>
          <td><%=h name -%></td>
        </tr>
      <% end %>
      </table>
    </div>  
  </div>
  <div class="bottom_links">
    <% allow :exec => proc { @current_user.is_project_administrator_for?(@project) } do %>
    <%= link_to 'Back to Project Member Groups', project_project_member_groups_path(:project_id => @project) %>
    <% end %>
  </div>
</div>