-# ===========================================================================
-# Copyright (C) 2009, Progress Software Corporation and/or its 
-# subsidiaries or affiliates.  All rights reserved.
-#
-# Licensed under the Apache License, Version 2.0 (the "License");
-# you may not use this file except in compliance with the License.
-# You may obtain a copy of the License at
-#
-#  http://www.apache.org/licenses/LICENSE-2.0
-#
-# Unless required by applicable law or agreed to in writing, software
-# distributed under the License is distributed on an "AS IS" BASIS,
-# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
-# See the License for the specific language governing permissions and
-# limitations under the License.
-# ===========================================================================
- content_for(:bread_crumbs) do
  = link_to 'Forge', root_path
  >
  = link_to 'Projects', projects_path
  >
  = link_to @project.name, @project
  >
  = link_to 'Manage', project_administration_path(@project)
  >
  = link_to 'Admins', project_project_administrators_path(:project_id => @project)

#overview
  .wrapper
    .message
      %h2 
        Add Admin to
        = h @project.name
#section
  .wrapper
    - form_tag( project_project_administrators_path(@project), :method => :post) do
      %p
        %label
          User Login
        %br
        = text_field_tag 'login', @login
      .form_button
        = submit_tag "Add"
    .bottom_links
      = link_to 'Back', project_project_administrators_path(:project_id => @project)
