<h1>Downloads for <%= h @project.name -%></h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Downloaded By</th>
      <th>Downloaded At</th>
    </tr>  
  </thead>
  <tbody>
    <% @downloads.each do |download| %>
    <tr>
      <td><%= h download.wiki_page_attachment.attached_file_file_name -%></td>
      <td><%= h download.downloaded_by.full_name -%></td>
      <td><%= download.created_at -%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= link_to 'Back to Project Administration', project_administration_path(@project) -%>

