<div class="wrapper">
  <h1>Unapproved Project:  <%= @unapproved_project.name -%></h1>
  <div class="two_column section">
    <div class="interior">
      <div id="project-header">
      	<%= image_tag @unapproved_project.image.url(:medium) %>
        <div id="project-attributes">
      	  <ul>
            <% if @unapproved_project.is_private? %>
            <li><strong>*** Private ***</strong></li>
            <% end %>
      	    <li>Status: <%= @unapproved_project.status.name -%></li>
      	    <li>Maturity: <%= @unapproved_project.maturity.name -%></li>
      	    <li>Created By: <%= @unapproved_project.created_by.full_name -%></li>
      	  </ul>
      	</div>
      </div>	
    </div>
  </div>
  <div class="two_column section">
    <div class="interior">    
      <h2>Description</h2>
      <p><%= sanitize @unapproved_project.description %></p>
    </div>
  </div>
  <div class="bottom_links">
  	<%= link_to 'Approve Project', unapproved_project_path(@unapproved_project), :confirm => 'Are you sure?', :method => :put %>
    |
  	<%= link_to 'Remove Project', unapproved_project_path(@unapproved_project), :confirm => 'Are you sure?', :method => :delete %>
    |
    <%= link_to 'Back', unapproved_projects_path %>
  </div>
</div>  