<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>FUSEForge by FUSESource</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'basic' %>
    <%= javascript_include_tag :defaults %>
    <%= yield :script %>
  </head>
  <body>
    <div id="header">
      <div class="wrapper">
        <%= link_to(image_tag('fuseforge-logo.png'), root_path, :alt => 'FUSE Forge Community') -%>
        <ul>
          <% unless logged_in? %>
          <li> <b><%= link_to 'Register!', :controller=>"registrations", :action => 'new', :clicked=>"yes"-%></b></li>
          <% end %>
          <% if logged_in? %>
          <li id="loggedIn">
            <span id="greeting">Welcome, <%= current_user.full_name -%></span> 
            <%= link_to 'Log Out', :controller => 'sessions', :action => 'destroy', :clicked=>"yes"-%>
          </li>
          <% else %>
          <li id="loggedOut">
            <%= link_to 'Log in', :controller => 'sessions', :action => 'new', :clicked=>"yes" -%>
          </li>
          <% end %>
        </ul>
        <form action="http://www.google.com/cse" id="cse-search-box">
          <div>
            <input type="hidden" name="cx" value="000032147250332401298:ybvpeey9ecq" />
            <input type="hidden" name="ie" value="UTF-8" />
            <input type="text" name="q" size="31" />
            <input type="submit" name="sa" value="Search" />
          </div>
        </form>
        <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>
      </div>
    </div>
    <%= render(:partial => 'shared/nav_bar') if logged_in? and current_user.is_company_employee? %>
    <div id="content">
      <%= render :partial => 'shared/flash_msg' %>
      <%= yield %>
      <div style="clear:both"></div>
    </div>

    <div id="footer_center"><div></div></div>
    <div id="footer_right"></div>
    <div id="footer_left"></div>
    <div id="footer">
    	<div class="wrapper">
    		<p id="copyright">
    		  <a href="/contact">Contact Us</a> | 
    		  <a href="/forge/about.html">About This Site</a> | 
    		  <a href="/forge/legal.html">Legal Terms and Privacy Policy</a> | 
    		  <a href="/about-this-site/site-index/">Site Index</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
    		</p>
        <p>
          &copy;2009 
          <%= link_to 'Progress Software Corporation', 'http://www.progress.com' -%>
          and/or its subsidiaries or affiliates.  All rights reserved.
        </p>
    	</div>
    </div>
  </body>
</html>
